# all commands by default will run on every commit
default_install_hook_types: [commit-msg, pre-commit, post-commit]
default_stages: [pre-commit]

repos:
  # commitizen - conventional commits
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.13.9
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages:
          - post-commit
          - pre-push
  # general checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
      - id: check-toml
      - id: check-yaml
        args: [--allow-multiple-documents]
        additional_dependencies: [pyyaml]
      - id: end-of-file-fixer
        exclude: .gitlab/Default.md
      - id: trailing-whitespace
  # ruff - linting + formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff
        name: ruff
        args: [--config, .ruff.toml, --fix]
      - id: ruff-format
        name: ruff-format
        args: [--config, .ruff.toml]
  # docformatter - docstring formatting
  - repo: https://github.com/pycqa/docformatter
    rev: v1.7.7
    hooks:
      - id: docformatter
        name: docformatter
        args:
          - -r
          - -i
          - --pre-summary-newline
          # - --make-summary-multi-line
          - --force-wrap
          - --wrap-summaries=120
          - --wrap-descriptions=120
          - .
  - repo: https://github.com/tconbeer/sqlfmt
    rev: v0.29.0
    hooks:
      - id: sqlfmt
        language: python
        additional_dependencies: [".[jinjafmt]"]
        args:
          [
            "--exclude",
            "target/**/*",
            "--exclude",
            "dbt_packages/**/*",
            "--exclude",
            ".venv/**/*",
            "--exclude",
            "logs/**/*",
          ]

  - repo: local
    hooks:
      - id: build-dbt-manifest
        name: Build dbt manifest.
        entry: bash -c 'cd rats-dbt-transformer && uv run dbt parse --profiles-dir .'
        language: system
        pass_filenames: false
        files: ^rats-dbt-transformer/

  - repo: https://github.com/dbt-checkpoint/dbt-checkpoint
    rev: v2.0.8
    hooks:
      # Model checks:
      - id: check-model-columns-have-desc
        files: ^rats-dbt-transformer/models/
        name: Check the model columns have description.
        args: ["--manifest", "rats-dbt-transformer/target/manifest.json"]
      - id: check-model-has-description
        files: ^rats-dbt-transformer/models/
        name: Check the model has description.
        args: ["--manifest", "rats-dbt-transformer/target/manifest.json"]
      - id: check-model-has-properties-file
        files: ^rats-dbt-transformer/models/
        name: Check the model has properties file.
        args: ["--manifest", "rats-dbt-transformer/target/manifest.json"]
      - id: check-model-name-contract
        files: ^rats-dbt-transformer/models/staging/
        name: Check model name abides to contract - staging.
        args: ["--manifest", "rats-dbt-transformer/target/manifest.json", "--pattern", "(stg_).*"]
      - id: check-model-name-contract
        files: ^rats-dbt-transformer/models/intermediate/
        name: Check model name abides to contract - intermediate.
        args: ["--manifest", "rats-dbt-transformer/target/manifest.json", "--pattern", "(int_).*"]
      # Source checks:
      - id: check-source-table-has-description
        files: ^rats-dbt-transformer/
        name: Check the source table has description.
        args: ["--manifest", "rats-dbt-transformer/target/manifest.json"]
      # Macro checks:
      - id: check-macro-has-description
        files: ^rats-dbt-transformer/
        name: Check the macro has description.
        args: ["--manifest", "rats-dbt-transformer/target/manifest.json"]
      - id: check-macro-arguments-have-desc
        files: ^rats-dbt-transformer/
        name: Check the macro arguments have description.
        args: ["--manifest", "rats-dbt-transformer/target/manifest.json"]
      # Script checks:
      - id: check-script-semicolon
        files: ^rats-dbt-transformer/
        name: Check the script does not contain a semicolon.
        args: ["--manifest", "rats-dbt-transformer/target/manifest.json"]
      # Modifiers:
      - id: remove-script-semicolon
        files: ^rats-dbt-transformer/
        name: Remove the semicolon at the end of the script.
        args: ["--manifest", "rats-dbt-transformer/target/manifest.json"]
